[Desktop Entry]
Encoding=UTF-8
Name=Better Popup Launcher
Comment=An improved popup application launcher that opens a menu when placed in a panel, with separators
Type=Service
Icon=application-menu
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=unalignedcoder
X-KDE-PluginInfo-Email=unalignedcoder@tuscoss.com
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=tuscoss.betterPopupLauncher
X-KDE-PluginInfo-Version=1.4
X-KDE-PluginInfo-Website=https://github.com/dfaust/plasma-applet-popup-launcher
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Application Launchers
